/* Font Family IBMPlexSans */
/* Bold */

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-BoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}

/* SamiBold */

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-SemiBoldItalic.ttf');
	font-weight: 600;
	font-style: italic;
}

/* Medium */

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-MediumItalic.ttf');
	font-weight: 500;
	font-style: italic;
}

/* Regular */

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-RegularItalic.ttf');
	font-weight: 400;
	font-style: italic;
}

/* Light */

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}

/* Extra Light */

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-ExtraLight.ttf');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-ExtraLightItalic.ttf');
	font-weight: 200;
	font-style: italic;
}

/* Thin */

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-Thin.ttf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('/fonts/IBMPlexSans/IBMPlexSans-ThinItalic.ttf');
	font-weight: 100;
	font-style: italic;
}