
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #313131;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #313131;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 1rem;
    border: 3px none #ffffff;
  }

canvas {
  border-radius: var(--border-radius-container);
  z-index: 1;
  width: 100%;
  height:100%;
}

.game-window {
  font-family: var(--font-family);
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-container);
  background-color: var(--blue-ribbon);
  margin: auto;
  position: relative;
  z-index: 1;
}

.game-window__menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--game-menu-background);
  color: var(--white);
  border-radius: var(--border-radius-container);
  padding: 6% 20%;
}

.menu__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title__name {
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: BLACK;
  margin-bottom: 0.5rem;
}

.title__under-name {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: BLACK;
  margin-bottom: 0.5rem;
}

.menu__selection {
  width: 100%;
  min-height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 0;
}

.selection__button{
  width: 100%;
  height: 2rem;
  background-color: var(--blue-ribbon);
  color: var(--white);
  border-radius: 2rem;
}

.selection__button:hover {
  opacity: 0.5;
}

.menu__score-board {
  width: 100%;
  height: 100%;
  max-height: 14rem;
  background-color: rgb(36, 36, 36);
  opacity: 1;
  padding: 1rem;
  border-radius: var(--border-radius-textarea);
  overflow-y: scroll;
}

.top-player {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26rem;
  height: 4rem;
  display: flex;
  font-family: var(--font-family);
  font-size: 2rem;
  top: 0;
  right: 0;
  background-color: var(--game-menu-background);
  border-radius: 0 0 0 1rem;
  padding: 0.5rem;
  color: white;
}

.top-player__star {
  height: 100%;
  width: auto;
  padding-right: 1rem;
}

.kindly-scoreboard {
  position: absolute;
  height: 100%;
  background-color: var(--game-menu-background);
  opacity: 1;
  padding: 1rem;
  border-radius: 0 var(--border-radius-textarea) var(--border-radius-textarea) 0;
  overflow-y: scroll;
  min-width: 10rem;
}

.score-board__item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: rgb(255, 255, 255);
  border-bottom: .01rem solid rgb(255, 255, 255);
  padding: 0 0.5rem;
}

.score-board__item:nth-child(odd){
  width: 100%;
  max-height: 1.4rem;
  color: var(--yellow-sunglow);
}

.score-board__item:nth-child(1){
  border-bottom: 1px solid #FFD700;
  color: #FFD700;
/*   color: rgb(0, 0, 0); */
}
.score-board__item:nth-child(2){
  border-bottom: 1px solid #C0C0C0;
  color: #C0C0C0;
/*   color: black; */
}
.score-board__item:nth-child(3) {
  border-bottom: 1px solid #CD7F32;
  color: #CD7F32;
/*   color: black; */
}
.game-window__game {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius-container);
}

.game__mobile-controller {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;

}

.mobile-controller__left {
  width: 50%;
  height: 100%;
  z-index: 10;
}

.mobile-controller__right {
  width: 50%;
  height: 100%;
  z-index: 10;
}

.game__audio-controller {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 4rem;
  position: absolute;
  z-index: 20;
  padding: 1rem;
}

.audio-controller__button-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
  height: 100%;
}

.audio-controller__audio-button, .audio-controller__music-button {
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: transparent;
}

.audio-controller__audio-image, .audio-controller__music-image {
  width: auto;
  height: 100%;
}

.hidden {
  display: none;
}

.nooutline {
  outline: none;
}

#game {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: 2;
}

#you {
  background-color: rgb(255, 0, 0);
}
